limit_req_zone $binary_remote_addr zone=uranus_admin_general:10m rate=10r/s;
limit_req_zone $binary_remote_addr zone=uranus_admin_api:10m rate=5r/s;
limit_conn_zone $binary_remote_addr zone=uranus_admin_conn:10m;
