[defaults]
inventory = inventory.local.yml
roles_path = roles
filter_plugins = filter_plugins
host_key_checking = True
retry_files_enabled = False
display_args_to_stdout = False
nocows = True
interpreter_python = /usr/bin/python3

[ssh_connection]
pipelining = True
